/* Add a black background color to the top navigation */
.topnav {
  background-color: #AA3939;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header {
  background-color: #669999;
  text-align: center;
  padding: 20px;
}

h1,
h3 {
  text-align: center;
  color: #FFE3AA;
}

.column {
  float: left;
  width: 48%;
  padding: 10px;
  height: 900px;
}

#cover {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#cover > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
</style>
